<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Works</title>
</head>
<body>
    <article>
        <section>
            <h1>Gak/O<span>Portfolio</span></h1>
            <div class="post">
                <p>published: 13.5.2022</p>
                <h2>
                    post title
                </h2>
                <p>
                    記事内容を表示
                </p>
            </div>
            <div class="post">
                <p>published: 13.5.2022</p>
                <h2>
                    2nd post title
                </h2>
                <p>
                    2つめの記事内容を表示
                </p>
            </div>
        </section>
    </article>
</body>
</html>