<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Works</title>
</head>
<body>
    <article>
        <section>
            <h1><a href="">Gak/O<span>Portfolio</span></a></h1>
            {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text | linebreaksbr }}</p>
            </div>
            {% endfor %}
        </section>
    </article>
</body>
</html>